@model WebApplication3.Contracts.UserRespone

<!DOCTYPE html>

<html>
<head>
    <title>Загрузка файлов</title>
</head>
<body>
<div>
    <h1>Привет, @Model.UserName!</h1>
    <h2>Выберите файлы для загрузки</h2>
    <form action="files/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="uploads" multiple /><br> <br>
        <input type="submit" value="Загрузить" />
    </form>
</div>
</body>
</html>